[flake8]
ignore =
    # Whitespace before ":". This is for black. See https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html#flake8.
    E203,
    # Line too long. I leave this constraint to black.
    E501,
    # Line break before binary operator.
    W503,
    # Do not use variable named 'I', 'O', or 'l'.
    E741
per-file-ignores =
    # Module imported but unused
    __init__.py: F401
